.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 80px;
}
.modal-content {
    background-color: white;
    width: 90%;
    max-width: 640px;
    height: 70%;
    margin: auto;
    padding: 32px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
